# ==========================================
# CONFIGURACIÓN GENERAL DEL SERVIDOR
# ==========================================

# El dominio público donde vivirá Grafana (sin https://)
# Ejemplo: xxxxxx.xxxxxx.com
DOMAIN_NAME= xxx.xxxx.com

# Correo para el registro de certificados SSL (Let's Encrypt)
# Es importante poner uno real por si hay problemas con el certificado HTTPS.
SSL_EMAIL=[EMAIL_ADDRESS]


# ==========================================
# CREDENCIALES DE ADMINISTRADOR (Respaldo)
# ==========================================
# Usuario y contraseña local de Grafana.
# Útil si falla Google OAuth o para tareas de mantenimiento.
GRAFANA_ADMIN_USER=usuarioXXXX
GRAFANA_ADMIN_PASSWORD=cambiar_esta_contraseña_segura


# ==========================================
# AUTENTICACIÓN GOOGLE (OAuth)
# ==========================================
# Permite que solo usuarios con correo corporativo puedan entrar.

# El dominio de correo permitido (Ej: grana.com).
GOOGLE_ALLOWED_DOMAIN=una.dos.com

# Credenciales obtenidas de Google Cloud Console (APIs & Services > Credentials).
# Asegúrate de que la "Authorized Redirect URI" en Google sea:
# https://grafana.colektia.space/login/google
GOOGLE_CLIENT_ID=pega_tu_client_id_aqui.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=pega_tu_client_secret_aqui


# ==========================================
# CONEXIÓN WAZUH (OpenSearch)
# ==========================================
# URL de tu Indexer/OpenSearch (normalmente puerto 9200).
# Puede ser IP privada (si están en la misma red) o pública.
WAZUH_URL=https://ip-o-dominio-wazuh:9200

# Credenciales de lectura de OpenSearch/Wazuh Indexer.
WAZUH_USER=admin
WAZUH_PASS=pega_tu_contraseña_wazuh_aqui


# ==========================================
# CONEXIÓN ACTION1 (Gestión de Parches)
# ==========================================
# API Key generada en Action1 Console > Settings > API Integration.
# Se recomienda usar un usuario con permisos de 'Viewer' (Solo lectura).
# No incluir "Bearer ", solo el código largo.
ACTION1_API_KEY=pega_tu_api_key_larga_aqui # Incluir "Bearer " antes del token.